# excel-vba.toml
# Configuration file for the excel-vba CLI tool
# Place this file in your working directory or specify its path with --conf

[general]
# Path and filname of the Office document to work with.
# The path can be relative to this TOML config file, which means it can also be left out,
# so that 'file' will get searched for in the directory of this config file
file = "C:/Users/YourName/Documents/example.xlsm"

# Target directory for exporting/importing VBA modules and PowerQuery M code
# either absolute path or relative to parent path of 'file' setting
#
# Some placeholders can be used here:
# {general.file.name} will be replaced with the pure filename of the 'file' setting, without path and file extension
# {general.file.fullname} will be replaced with the filename of the 'file' setting, including the file extension
# {general.file.path} will be replaced with the parent path of the 'file' setting, after it has been resolved
# {general.file.vbaproject} will be replaced with the VBA project name found within the office file
vba-directory = "./vba-modules"
pq-directory = "./pq-M"

# Encoding for reading/writing VBA files (e.g., "utf-8", "windows-1252")
# valid codecs: see https://docs.python.org/3/library/codecs.html#standard-encodings
# common for legacy VBA files on Windows is "windows-1252"
encoding = "utf-8"

# Automatically detect encoding if true
detect-encoding = true

# Header handling
# Default: in-file-headers = embed headers in VBA files
# save-headers = save separate .header files alongside .cls/.bas/.frm files
# no headers at all: in-file-headers = false, save-headers = false
in-file-headers = true
save-headers = false

# Enable verbose logging
verbose = true

# Log output to a file (specify path or leave empty for no logfile)
logfile = "C:/Users/YourName/excel-vba.log"

# Use RubberduckVBA folder annotations for module organization / folder structure (default: enabled)
rubberduck-folders = true

# Run Office application in invisible mode (background, no window)
invisible-mode = false

# Execution mode: "export", "import", "edit"
# mode = "export"
open-folder = true # Open the export directory in file explorer after export, valid for export mode only

[office]
# Office application to use ("excel", "word", "access")
application = "excel"

# Additional options for Office automation
timeout-seconds = 60

[excel]
# Option to use xlwings for Excel operations (if installed)
use-xlwings = false

[advanced]
# Custom document properties to export/import
#export-custom-properties = true # planned

# Export PowerQuery M code
#export-powerquery = false # planned
#pq-directory = "/pq-lib"  # planned
# filename extension for PowerQuery M
#pq-extension = # planned

# Export additional Office document properties (e.g., XML parts, references)
#export-document-properties = false # planned

# Conflict resolution strategy: "last-writer-wins", "manual"
#conflict-strategy = "last-writer-wins" # planned

# Notify about unsaved status of the office file
#notify-unsaved-changes = true # planned

# Hash algorithm for module change detection ("md5", "sha256")
#hash-algorithm = "sha256" # planned